* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .mt1 {
    font-family: 'Arial', sans-serif;
    background-color: #08111b;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
    font-size: 24px;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px 35px 10px 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #ccc;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #2980b9;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer a {
    color: #3498db;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  